.movies-card-list {
    width: 90%;
    margin: 70px auto 28px;
  }
  
  .movies-card-list__not-found {
    display: block;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    color: #a0a0a0;
    height: calc(100vh - 557px);
  }
  
  .movies-card-list__container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 60px 30px;
    justify-content: center;
  }


  
  @media screen and (max-width: 1270px) {
    .movies-card-list__container {
      grid-template-columns: repeat(auto-fit, 339px);
      gap: 46px 15px;
    }
  
    .movies-card-list__not-found {
      font-size: 20px;
      height: calc(100vh - 608px);
    }
  
    .movies-card-list__container {
      grid-template-columns: repeat(auto-fit, 339px);
      gap: 47px 30px;
    }
  }



  @media screen and (max-width: 1163px) {
    .movies-card-list__container {
      gap: 46px 30px;
    }
  }
  
  @media screen and (max-width: 860px) {
    .movies-card-list {
      width: 96%;
      margin: 80px auto 12px;
  }
}
  
  @media screen and (max-width: 740px) {
    .movies-card-list {
      width: 93.7%;
      margin: 40px auto 13px;
    }
  
    .movies-card-list__not-found {
      font-size: 18px;
      height: calc(100vh - 599px);
    }
  
    .movies-card-list__container {
      grid-template-columns: repeat(auto-fit, 300px);
      gap: 37px 0 0;
    }
  }