
.portfolio {
    margin: 0 10px 70px;
}

.portfolio__title {
    color: #A0A0A0;
    font-size: .875rem;
    line-height: 20px;
    font-weight: 400;
    mix-blend-mode: normal;
    margin: 0 0 40px;
}

.portfolio__link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 28px;
    letter-spacing: -0.04em;
    padding-bottom: 19px;
    transition: .1s ease;
    background: url("./../../images/portfolio/aboutme__link.svg") no-repeat right top;
    background-size: 12px;
    background-position: 100% 30%;

}

.portfolio__link:not(:first-child) {
  margin-top: 20px;
}

.portfolio__link:hover {
   opacity: .6;
}

.portfolio__horizontal-rule {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #E6E6E6;
}

@media (min-width: 768px) {
    .portfolio {
        margin: -45px 51px 90px 50px;
    }

    .portfolio__title {
        font-size: 1.125rem;
        margin-bottom: 50px;
    }

    .portfolio__link {
        font-size: 1.75rem;
        line-height: 50px;
        background-size: 17px;
    }
}

@media (min-width: 1280px) {
    .portfolio {
        margin: -40px 70px 119px;
    }

    .portfolio__link {
        font-size: 1.875rem;
        background-size: 19px;
    }

   
}
