.nav-tab {
    position: absolute;
    bottom: 0;
    margin-bottom: 17px;
}

.nav-tab__link {
    background-color: #303030;
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    transition: .1s ease;
    border-radius: 10px;
    font-size: .625rem;
    font-weight: 500;
}

.nav-tab__link:nth-of-type(2) {
    margin: 0 6px;
}

.nav-tab__link:hover {
    opacity: .6;
}

@media (min-width: 768px) {
    .nav-tab__link {
        font-size: .75rem;
    }

    .nav-tab__link:nth-of-type(2) {
        margin: 0 10px;
    }

    .nav-tab {
        margin-bottom: 30px;
        
    }
}