.movies-card {
    list-style-type: none;
    min-width: 300px;
    max-width: 360px;
    position: relative;
  }
  
  .movies-card__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  
  .movies-card__img {
    display: block;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    max-height: 201px;
    min-height: 168px;
    width: 100%;
    z-index: 0;
  }
  
  .movies-card__caption {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  
  .movies-card__title {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    width: 80%;
    color: #f9f9f9;
  }
  
  .movies-card__duration-wrapper {
    min-width: 44px;
    min-height: 12px;
    border-radius: 3px;
    background: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .movies-card__duration {
    color: #8B8B8B;
    font-size: 11px;
    font-weight: 400;
    line-height: 0.9;
    margin: 0;
  }
  
  .movies-card__btn {
    all: unset;
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 8px;
    z-index: 1;
    color: black;
    transition: var(--transition);
  }
  
  .movies-card__btn:hover {
    opacity: var(--btn-opacity);
    cursor: pointer;
  }
  
  .movies-card__btn_type_save {
    height: 21px;
    width: 72px;
    background-color: #313131;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 0.9;
    color:  #FFFFFF;
    border-radius: 30px;
    transition: var(--transition);
    opacity: 0;
  }
  
  .movies-card__link:hover + .movies-card__btn_type_save {
    opacity: 1;
  }
  
  .movies-card__btn_type_saved {
    background: url("../../images/movies/saved.svg");
    height: 21px;
    width: 21px;
    transition: var(--transition);
  }
  
  .movies-card__btn_type_delete {
    background: url("../../images/movies/delete.svg");
    height: 21px;
    width: 21px;
    transition: var(--transition);
    opacity: 0;
  }
  
  .movies-card__link:hover + .movies-card__btn_type_delete {
    opacity: 1;
  }
  
  @media screen and (max-width: 820px) {
    .movies-card__btn_type_save {
      opacity: 1;
    }
  
    .movies-card__btn_type_delete {
      opacity: 1;
    }
  }