.promo {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272727;
    height: 647px;
    margin: 0px 0px  70px;
    user-select: none;
  }
  
.promo__title {
  color: white;
    margin: 0;
    font-size: 1.8em;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.04em;
    line-height: 37px;
}


@media screen and (max-width: 768px) {
    .promo {
      padding: 224px 120px 240px;
    }
  
    .promo__title {
      padding: 0 19px;
    }
  }
  
  @media screen and (max-width: 540px) {
    .promo {
      padding: 142px 0px 180px;
    }
  
  
    .promo__title {
      font-size: 31px;
      line-height: 1.26;
      letter-spacing: -1.24px;
      padding: 0 10px;
    }
  }