.checkbox {
    display: inline-flex;
    --width: 34px;
    --height: 14px;
    --offset: 2px;
    --white: #fff;
    --green: #2be080;
    --grey: #A0A0A0;
    --light-grey: #f5f5f5;
    --duration: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8),
      background-color 0.2s linear;
    cursor: pointer;
    transition: var(--transition);
  }
  
  .checkbox:hover .checkbox__div::before {
    opacity: var(--btn-opacity);
  }
  
  .checkbox__input {
    display: none;
  }
  
  .checkbox__input:checked ~ .checkbox__div {
    background-color: var(--green);
  }
  
  .checkbox__input:checked ~ .checkbox__div::before {
    background-color: var(--white);
    left: calc(var(--width) - var(--height) + var(--offset));
  }
  
  .checkbox__input:hover:checked ~ .checkbox__div::before {
    width: calc(var(--height) - 2 * var(--offset));
  }
  
  .checkbox__div {
    display: block;
    width: var(--width);
    height: var(--height);
    background-color: var(--grey);
    border-radius: var(--width);
    position: relative;
    transition: var(--duration);
  }
  
  .checkbox__div::before {
    content: "";
    width: calc(var(--height) - 2 * var(--offset));
    height: calc(var(--height) - 2 * var(--offset));
    position: absolute;
    top: var(--offset);
    left: var(--offset);
    background-color: var(--light-grey);
    border-radius: var(--width);
    transition: var(--duration);
  }