.aboutMe {
    width: 91%;
    margin: 70px auto;
}

.aboutMe__title {
    color: white;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
    letter-spacing: -0.04em;
    padding-bottom: 28px;
    border-bottom: 1px solid #DADADA;
    margin: 0 0 60px;
}

.aboutMe__container {
    display: flex;
    flex-direction: column;
}

.aboutMe__container-life {
    color: white;
    order: 2;
}

.aboutMe__name {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.04em;
    margin: 0 0 20px;
}

.aboutMe__profession {
    font-size: .6875rem;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.04em;
    margin: 0 0 20px;
}

.aboutMe__text {
    font-size: .6875rem;
    line-height: 16px;
    mix-blend-mode: normal;
    margin: 0 0 72px;
    
}

.aboutMe__link {
    color: white;
    font-size: .875rem;
    line-height: 17px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: .1s ease;
}

.aboutMe__link:not(:last-child) {
   margin-right: 25px;
}

.aboutMe__link:hover {
    opacity: .6;
}

.aboutMe__image {
    background:  no-repeat center;
    background-size: cover;
    min-width: 292px;
    min-height: 352px;
    border-radius: 10px;
    order: 1;
   /* margin-bottom: 40px;*/
   padding-bottom: 34px;
}

@media (min-width: 768px) {
    .aboutMe {
        width: 87%;
        margin: 90px auto;
    }

    .aboutMe__title {
        font-size: 1.375rem;
        line-height: 27px;
        padding-bottom: 23px;
        margin: 0 0 65px;
    }

    .aboutMe__name {
        font-size: 40px;

    }

    .aboutMe__container {
        flex-direction: row;
        justify-content: space-between;
    }

    .aboutMe__container-life {
        width: 365px;
        order: 1;
    }

    .aboutMe__subtitle {
        font-size: 2.5rem;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .aboutMe__profession {
        font-size: .75rem;
        line-height: 18px;
    }

    .aboutMe__text {
        font-size: .75rem;
        line-height: 18px;
        margin-bottom: 123px;
    }

    .aboutMe__image {
        max-width: 255px;
    max-height: 307px;
        margin-bottom: 0;
        padding-left: 34px;
    }
}



@media (min-width: 1280px) {
    .aboutMe {
        width: 89%;
        margin: 116px auto;
    }

    .aboutMe__container-life {
        width: 600px;
    }

    .aboutMe__subtitle {
        font-size: 3.125rem;
        line-height: 58px;
        margin-bottom: 20px;
    }

    .aboutMe__profession {
        font-size: 1.125rem;
        line-height: 20px;
        margin-bottom: 25px;
    }

    .aboutMe__text {
        font-size: .875rem;
        line-height: 22px;
        margin-bottom: 119px;
    }

    .aboutMe__image {
        width: 270px;
        height: 327px;
        padding-bottom: 6px;
    padding-left: 23px;
    }
    .aboutMe__title {
        margin: 0 0 65px;
    padding-bottom: 23px;
    }

    .aboutMe__name {
        font-size: 50px;
        font-weight: 400;
        line-height: 58px;
        letter-spacing: -0.04em;
        margin: 0 0 20px;
    }
    
}